@import '../GlobalStyles/colors.scss';
@import '../GlobalStyles/spacing.scss';

.Key {
  @each $colorName, $color in $colors {
    // index(map, (key, value))
    $index: index($colors, $colorName $color);

    &-#{$index} {
      display: flex;
      width: 50px;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding: spacing(tight) 0;
      border-radius: spacing(tight);

      $box-shadow: 3px;
      $large-key-height: 250;
      $key-height: $large-key-height - ($index * 10);

      height: #{$key-height}px;
      background-color: color($colorName);
      box-shadow: $box-shadow $box-shadow color($colorName, dark);

      &:active {
        background-color: color($colorName, darker);
      }
    }
  }
}
