@import '../GlobalStyles/spacing.scss';

.KeysContainer {
  display: flex;
  align-items: center;
}

.Key {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: spacing(extraTight);
}
