@function color($color, $hue: 'default') {
  @if map-has-key($colors, $color) {

    $scoped: map-get($colors, $color);
    @return get-specific-color($color, $scoped, $hue);

  } @else {
    @return black;
  }
}

@function get-specific-color($color, $scoped, $hue) {
  @if map-has-key($scoped, $hue) {
    @return map-get($scoped, $hue);

  } @else {
    @return map-get($scoped, $color);
  }
}

$colors: (
  purple: (
    purple: #BE9BCD,
    dark: #a282af,
    darker: #81668c,
  ),
  purple-blue: (
    purple-blue: #A19CCA,
    dark: #747093,
    darker: #54516d,
  ),
  blue: (
    blue: #90BAE3,
    dark: #5a7896,
    darker: #425a72,
  ),
  sky-blue: (
    sky-blue: #91D8F3,
    dark: #6699ad,
    darker: #517b8c,
  ),
  teal: (
    teal: #89D5D0,
    dark: #5b9390,
    darker: #477572,
  ),
  green: (
    green: #80D3A1,
    dark: #528c69,
    darker: #3f6d51,
  ),
  slime: (
    slime: #B3E596,
    dark: #759960,
    darker: #628250,
  ),
  yellow: (
    yellow: #FFF189,
    dark: #a59c57,
    darker: #8c8448,
  ),
  yellow-orange: (
    yellow-orange: #FBD28B,
    dark: #b2935c,
    darker: #91774a,
  ),
  orange: (
    orange: #F7AF8F,
    dark: #af7a62,
    darker: #916551,
  ),
  pink: (
    pink: #FA9A8F,
    dark: #ba7068,
    darker: #965952,
  ),
  red: (
    red: #F98D8F,
    dark: #a35859,
    darker: #874849,
  )
);