@import "../GlobalStyles/spacing.scss";

$box-shadow: 2px;

.Screw {
  background: lightGrey;
  width: spacing(loose);
  height: spacing(loose);
  border-radius: spacing();
  box-shadow: $box-shadow $box-shadow grey;
}