.Key-1 {
  display: flex;
  width: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
  border-radius: 8px;
  height: 240px;
  background-color: #BE9BCD;
  box-shadow: 3px 3px #a282af; }
  .Key-1:active {
    background-color: #81668c; }
  .Key-1-Active {
    background-color: #81668c; }

.Key-2 {
  display: flex;
  width: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
  border-radius: 8px;
  height: 230px;
  background-color: #A19CCA;
  box-shadow: 3px 3px #747093; }
  .Key-2:active {
    background-color: #54516d; }
  .Key-2-Active {
    background-color: #54516d; }

.Key-3 {
  display: flex;
  width: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
  border-radius: 8px;
  height: 220px;
  background-color: #90BAE3;
  box-shadow: 3px 3px #5a7896; }
  .Key-3:active {
    background-color: #425a72; }
  .Key-3-Active {
    background-color: #425a72; }

.Key-4 {
  display: flex;
  width: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
  border-radius: 8px;
  height: 210px;
  background-color: #91D8F3;
  box-shadow: 3px 3px #6699ad; }
  .Key-4:active {
    background-color: #517b8c; }
  .Key-4-Active {
    background-color: #517b8c; }

.Key-5 {
  display: flex;
  width: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
  border-radius: 8px;
  height: 200px;
  background-color: #89D5D0;
  box-shadow: 3px 3px #5b9390; }
  .Key-5:active {
    background-color: #477572; }
  .Key-5-Active {
    background-color: #477572; }

.Key-6 {
  display: flex;
  width: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
  border-radius: 8px;
  height: 190px;
  background-color: #80D3A1;
  box-shadow: 3px 3px #528c69; }
  .Key-6:active {
    background-color: #3f6d51; }
  .Key-6-Active {
    background-color: #3f6d51; }

.Key-7 {
  display: flex;
  width: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
  border-radius: 8px;
  height: 180px;
  background-color: #B3E596;
  box-shadow: 3px 3px #759960; }
  .Key-7:active {
    background-color: #628250; }
  .Key-7-Active {
    background-color: #628250; }

.Key-8 {
  display: flex;
  width: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
  border-radius: 8px;
  height: 170px;
  background-color: #FFF189;
  box-shadow: 3px 3px #a59c57; }
  .Key-8:active {
    background-color: #8c8448; }
  .Key-8-Active {
    background-color: #8c8448; }

.Key-9 {
  display: flex;
  width: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
  border-radius: 8px;
  height: 160px;
  background-color: #FBD28B;
  box-shadow: 3px 3px #b2935c; }
  .Key-9:active {
    background-color: #91774a; }
  .Key-9-Active {
    background-color: #91774a; }

.Key-10 {
  display: flex;
  width: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
  border-radius: 8px;
  height: 150px;
  background-color: #F7AF8F;
  box-shadow: 3px 3px #af7a62; }
  .Key-10:active {
    background-color: #916551; }
  .Key-10-Active {
    background-color: #916551; }

.Key-11 {
  display: flex;
  width: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
  border-radius: 8px;
  height: 140px;
  background-color: #FA9A8F;
  box-shadow: 3px 3px #ba7068; }
  .Key-11:active {
    background-color: #965952; }
  .Key-11-Active {
    background-color: #965952; }

.Key-12 {
  display: flex;
  width: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
  border-radius: 8px;
  height: 130px;
  background-color: #F98D8F;
  box-shadow: 3px 3px #a35859; }
  .Key-12:active {
    background-color: #874849; }
  .Key-12-Active {
    background-color: #874849; }
